body {
    font-family: 'Raleway', sans-serif; 
   
}

.top {
    background-image: url(../img/img.png);
    background-repeat: no-repeat;
    background-size: cover;  
}

.container {
    max-width: 1185px;
    height: 100%;
    margin: 0 auto;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding-top: 60px;
}

li {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    margin: 0 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 5px solid #faf9fb;
    border-bottom: 5px solid #faf9fb;
}

li:hover{
    border-top: 5px solid #ff6033;
    transition: 0.5s ease;
    transform: scale(1.2);
    cursor: pointer;
}

.top_section {
   padding-top: 261px;

}

.top_section_fresh {
    color: #262626;
    font-size: 60px;
    font-weight: 900;
}

.top_section_text {
    max-width: 366px;
    color: #262626;
    font-size: 17px;
    font-weight: bold;
    line-height: 27px;
    margin-top: 35px;

}

.butt {
    width: 200px;
    height: 56px;
    color: white;
    background-color: #ff6033;
    font-size: 20px;
    margin-top: 33px;
    text-transform: uppercase;
    border: none;
    box-shadow: 2px 2px 10px #262626;
}

.scroll {
    display: flex;
    justify-content: center;
    padding-top: 585px;
    padding-bottom: 70px;  
}

.down {
    background-color: #00bcbc;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-around;

}

.bottom {
    display: flex;

}

.container2_img {
    flex-direction: row;
    justify-content: flex-start;
    margin: 75px 0 75px -100px;
}

.down_container2_text {
    width: 495px;
    margin-top: 180px;
    margin-left: 100px;
    display: flex;
    color: white;
    flex-direction: column;
    
}

.down_container2_about {
    font-size: 90px;
    font-weight: bold;
}

.down_container2_paragraph {
    font-size: 17px;
    line-height: 27px;
}










